body {
    margin: 0;
    background-color: #FFE3C2 !important;
}
.points {
    font-size: 0.9em;
    font-weight: bold;
    color: #CDE9FD;
    background-color: #4B98CE;
    width: 100%;
}
.colPoints{
    height: 40px;
    border: 2px solid #024F85;
}
input[type=text] {
    width: 90px;
}
.colImg{
    width: 125px;
    height: 180px;
    position: relative;
}
.front, .back {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
}
.noClick{
    pointer-events: none;
}